
  nav.navsa {
    z-index: 150;
  width: calc(100% - 300px);
  top: 0px;
    right: 0px;
	margin-bottom: 0em;
	background: transparent;
  display: block;
	font-family: 'Poiret One', sans-serif;
  position: fixed;
  & ul{
    width: 100%;
    min-width: 100%;
    min-height: 0px;
	padding: 0;
	margin: 0;
	
    list-style: none;
    overflow: hidden;
	color: #fff;
	text-align: left;
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
	-webkit-transition: max-height 0.5s;
	transition: max-height 0.5s;
    & li.nav-item{
    width:100%;
      height: 60px;
  flex: 1 auto;
	
	
      
	font-size: 1.4em;
  box-sizing: border-box;
	-webkit-transition: background .5s;
	transition: background .5s;
      &:hover{
	background: #474747;
	cursor: pointer;
}
  & a {
    color: #191919;
    width: 100%;
    padding: 16px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    }
}
}
}







  



  @media only screen and (max-width: 640px){
	nav.navsa {
      width: calc(100% - 0px);
    top: 60px;
      background: #ddd;
      & .revsa{ 
        max-height:19em;
      }
    & ul{
      max-height: 0;
      flex-direction: column;
      & .nav-item{ 
        -webkit-box-sizing: border-box;
		 			  
        -moz-box-sizing: border-box;
     				 
        -ms-box-sizing: border-box;
        			  
        box-sizing: border-box;
					 
        width:100%;
		 			  
         }
	
      }
	
      }

	
	
}

